* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05em;
}

body {
    background-color: #2F2FA2;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container {
    text-align: center;
    grid-column: 2/4;
}

#menu {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
}

#select-tasks {
    display: block;
}

#select {
    display: flex;
    justify-content: right;
    padding: 10px;
}

#select select {
    background-color: whitesmoke;
}

#content {
    display: block;
    justify-content: left;

}

.task {
   text-align: left; 
   display: flex;
   justify-content: space-between;
   border: 0.5px solid;
   border-radius: 5px;
   padding: 10px;
   margin: 0 0 1em 0;
   background-color: whitesmoke;
}

.task-buttons {
    display: flex;
    align-items: center;
}

.btn {
    margin: 0 0 0 1em;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.complete-task {
    background-color: rgb(95, 255, 95);
}

.complete-task:hover {
    background-color: rgb(80, 216, 80);
}

.complete-task:active {
    background-color: rgb(69, 187, 69);
}

.delete-task {
    background-color: rgb(255, 59, 59);
}

.delete-task:hover {
    background-color: rgb(221, 50, 50);
}

.delete-task:active {
    background-color: rgb(196, 45, 45);
}

#add-task {
    background-color: rgb(95, 255, 95);
}

#add-task:hover {
    background-color: rgb(80, 216, 80);
}

#add-task:active {
    background-color: rgb(69, 187, 69);
}

.example {
    display: none;
}
